.content img {
  margin: auto;
  min-width: 300px;
  min-height: 300px;
  margin-top: 30px;
  margin-bottom: 30px;
}
.content strong {
  font-size: 20px;
  margin-bottom: 30px;
}
.content ul li {
  margin-left: 24px;
}
.content ul {
  list-style: disc; /* Dấu chấm đen */
}

ol {
  list-style: decimal; /* Dấu số */
}

/* Hoặc bạn có thể chọn loại dấu chấm khác nhau cho các mục khác nhau */
li.special {
  list-style: square; /* Dấu hình vuông */
}

/* Nếu bạn muốn thay đổi màu sắc hoặc kích thước của dấu chấm */
ul.custom-color {
  list-style: disc inside;
  color: red; /* Màu đỏ */
  font-size: 18px; /* Kích thước chữ 18px */
}
/* Đổi màu và kiểu chấm trong danh sách số */
.content ol {
  list-style: decimal inside;
  margin-left: 8px;
  /* color: blue; */
}
.content em {
  width: 70%;
  padding-bottom: 30px;
  margin: auto;
  display: flex;
  text-align: center;
  color: gray;
}
